body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Clear Sans', Garuda, sans-serif;
    font-size: 100%;
    word-wrap: break-word;
    margin: 0px auto;
    background-color: #f0ffff;
}

.titlebar {
    display: flex;
    position: fixed;
    font-size: 1em;
    font-weight: 400;
    border: 0;
    order: -1;
    width: 100%;
    padding: 15px;
    box-shadow: -5px 5px 7px -2px rgba(0, 0, 0, 0.75);
    color: #F0FFFF;
    background-color: #000080;
}

.intro {
    margin: 0;
    min-width: 200px;
    font-size: 16pt;
}

nav {
    margin-right: 2%;
    text-align: right;
    width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

nav li {
    display: inline-block;
    list-style: none;
}

.menu {
    font-size: 16pt;
    text-decoration: none;
    color: azure;
    padding: 0 15px;
}

.dash_section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 70pt;
    padding: 20px;
    background-color: #fffff0;
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.75);
}

#idle {
    align-self: center;
    flex-grow: 1;
    font-size: 96pt;
    text-align: center;
}

.add_profile {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.add_profile legend {
    font-size: 16pt;
    font-weight: 800;
}

.row {
    margin-top: 10px;
}

input[type=text] {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: #f0ffff;
}

button[type=button] {
    border: 1px solid #000000;
    color: #f0ffff;
    background: #0080f0;
    min-width: 100px;
    padding: 5px 20px;
    border-radius: 5px;
}

button[type=button]:hover {
    background: #008080;
}

button[type=submit] {
    border: 1px solid #f44c0e;
    color: #f0ffff;
    background: #000080;
    padding: 5px 20px;
    border-radius: 5px;
}

button[type=submit]:hover {
    background: #008080;
}

button[type=reset] {
    border: 1px solid #f44c0e;
    color: #f0ffff;
    background: #800000;
    padding: 5px 20px;
    border-radius: 5px;
}

button[type=reset]:hover {
    background: #008080;
}

.article {
    width: 100%;
    flex-grow: 1;
}

.search_field {
    width: 100%;
}

.ul_profile {
    width: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    /*-webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;*/
    /*-webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;*/
}

.list_profile {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 90%;
    text-align: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;

    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    /*break-inside: avoid-column;*/
    /*margin-top: 10px;*/
}

.list_profile p {
    font-size: 14pt;
}

.list_profile h1 {
    font-size: 18pt;
}

.list_profile button {
    border: 1px solid #f44c0e;
    color: #f0ffff;
    background: #000080;
    padding: 5px 20px;
    border-radius: 0px;
}

.list_profile button:hover {
    border-color: #f0ffff;
    background: #008080;
}
