<!DOCTYPE html>
<html>
{% extends "base.html"%} {% block head %} {{super()}} {% endblock %}

<body>
    {% block jsscript %}
    <script type="text/javascript">
        setInterval(function() {
            updateProcess()
        }, 1000);
    </script>
    {% endblock %} {% block header %} {{super()}} {% endblock %} {% block dash_content %}
    {% if active == "0" %}
      <h1 id="idle">ว่าง</h1>
    {% endif %}
    {% if active == "1" %}
    <table>
      <tr>
        <td>หัวเข่า : </td>
        <td id="active">{{active}}</td>
      </tr>
      <tr>
        <td>ข้อเท้า : </td>
        <td id="active">{{active}}</td>
      </tr>
      <tr>
        <td>ความเร็ว : </td>
        <td id="active">{{active}}</td>
      </tr>
      <tr>
        <td>ความคืบหน้า : </td>
        <td id="success">0 %</td>
      </tr>
    </table>
    <button type="reset" name="button" onclick="cancel()">ยกเลิก</button>
    {% endif %}
    {% endblock %}

</body>

</html>
